body{
     
    font-family: Arial, Helvetica, sans-serif;
}

.fonte {
    
    font-family: Arial, Helvetica, sans-serif;
}

.espaco {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.cor-fonte {
    color: rgb(120, 2, 230);
    
    }

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
 


.cor-fundo {
    background: rgba(44, 13, 95, 0.75);
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.cor-fundo-2 {
    background: rgba(44, 13, 95, 0.75);
    width: 100%;
    height: auto;
    position: static;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.imagem {
   
    background-image: url(Imagens/mulan.jpg);
    position: static;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.fundo {
    background-color: #fff;
}

.botao-cor {
    background: #4e23e9 !important;
    color: #fff !important;
    border-color: #4e23e9;
   
} 

.botao-efeito:hover {
    background: #39218d !important;
    color: #fff !important;
    border-color:  #351a96;
  
}



.botao-efeito-2:hover {
    background: #3515aa !important;
    color: #fff !important;
    border-color:  #321f68;
   
}


.botao-cor-2 {
    
    background: #fff!important;
    color: #4e23e9 !important;
    border-color: #4e23e9 !important;
 border-width: 4px !important;
} 

button.btn-lg {
    border-radius: .0rem;
   
}

.alinhamento {
    margin-left: auto;
    margin-right: auto;
}

