
body{
    font-family: 'Helvetica', 'Arial', sans-serif; 
    
}

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
 


.cor-fundo {
    background: rgba(44, 13, 95, 0.75);
    
    width: 100%;
   
    position: absolute;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.imagem {
   
    background-image: url(Imagens/mulan.jpg);
    position: static;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.fundo {
    background-color: rgb(238, 224, 253);
}

.botao-cor {
    background: #fa02e5 !important;
    color: #fff !important;
    border-color: #fa02e5;
   
} 

.botao-efeito:hover {
    background: #bb00ab !important;
    color: #fff !important;
    border-color:  #bb00ab;
  
}



.botao-efeito-2:hover {
    background: #22019c !important;
    color: #fff !important;
    border-color:  #23037c;
   
}


.botao-cor-2 {
    background: #3802fa !important;
    color: #fff !important;
    border-color: #3802fa;
 
} 

button.btn {
    border-radius: .0rem;
   
}

.alinhamento {
    margin-left: auto;
    margin-right: auto;
}

